.game_field {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin: auto;
  top: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  border: 1px solid rgb(255, 251, 251);
  cursor: url('../img/molot.png'), pointer;
}

.field {
  background-color: rgb(0, 128, 117);
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid black;
}

img {
  background-color: white;
  width: 100px;
  height: 100px;
  text-align: center;
}

.points {
  top: 25%;
  width: 500px;
  color: rgb(93, 11, 109);
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  font-size: 40px;
}

.result{
  width: 500px;
  color: rgb(216, 60, 25);
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}
.resultWin{
  width: 500px;
  color: rgba(10, 182, 62, 0.801);
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}